.navbar {
    min-height: 10vh;
}

.navbar .dropdown-menu {
    background-color: #6c757d;
    border-radius: 12px;
    padding: 5px;
}

.navbar .dropdown-menu .nav-link {
    border-radius: 8px;
}

.navbar .dropdown-menu .nav-link:hover {
    background-color: #212529;
}

.navbar .dropdown-menu .active {
    background-color: #930000;
}
